# ==================================================
# Python
# ==================================================
__pycache__/
*.py[cod]
*$py.class
*.so

# ==================================================
# Virtual Environments
# ==================================================
.venv/
venv/
env/
ENV/

# ==================================================
# Environment Variables / Secrets
# ==================================================
.env
.env.*
!.env_sample
.envrc
.streamlit/secrets.toml

# ==================================================
# Local Database
# ==================================================
app.db
*.db
*.sqlite3

# ==================================================
# OS / IDE
# ==================================================
.DS_Store
.vscode/
.idea/

# ==================================================
# Build / Packaging
# ==================================================
build/
dist/
*.egg-info/
.eggs/
*.egg

# ==================================================
# Testing / Coverage
# ==================================================
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.cache/

# ==================================================
# Jupyter
# ==================================================
.ipynb_checkpoints/

# ==================================================
# Vector DB Storage
# ==================================================
chroma_db/
qdrant_storage/

# ==================================================
# Playwright
# ==================================================
playwright-report/
test-results/

# ==================================================
# Logs
# ==================================================
*.log

# ==================================================
# Processed Data
# ==================================================

# Ignore embeddings
app/data/processed/*_vectors.json
app/data/processed/ingest_manifest.json

# Keep chunks
!app/data/processed/*_chunks.json
!app/data/processed/*_enriched_chunks.json